<html>
  <head>
    <title>ShapeEditor</title>
  </head>
  <body>
    <h1>ShapeEditor</h1>
{% if shapefiles %}
    <b>Available Shapefiles:</b>
    <table border="0" cellspacing="0" cellpadding="5"
           style="padding-left:20px">
  {% for shapefile in shapefiles %}
      <tr>
        <td><font style="font-family:monospace">
          {{ shapefile.filename }}
        </font></td>
        <td>&nbsp;</td>
        <td>
          <a href="/edit/{{ shapefile.id }}">Edit</a>
        </td>
        <td>&nbsp;</td>
        <td>
          <a href="/export/{{ shapefile.id }}">Export</a>
        </td>
        <td>&nbsp;</td>
        <td>
          <a href="/delete/{{ shapefile.id }}">Delete</a>
        </td>
      </tr>
  {% endfor %}
    </table>
{% endif %}
    <button type="button"
            onClick='window.location="/import";'>
      Import New Shapefile
    </button>
  </body>
</html>

